/results/*
/testfile/*
/logs/*
# /datasets/*
/datasets/python.zip
/datasets/df_*_corpus_standardized.tar.bz2
/checkpoint/*
/build
/dist
/*.spec

/.idea
/venv
/.ipynb_checkpoints
/*/__pycache__
/__pycache__/*

# too big
/models/*.hdf5